

.body-initial {background-color: rgba(255,255,255,1); position: static;}.silex-id-1652493806635-1 {width: 1011px; min-height: 618px; background-color: rgb(255, 255, 255); position: absolute; top: 198.99602699279785px; left: 152.98809599876404px;}@media only screen and (max-width: 480px) {}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.website-width {width: 1200px;}@media (min-width: 481px) {.silex-editor {min-width: 1400px;}}
body {text-align: center; font-family: "Arial", Verdana, sans-serif; padding-top: 100px;}body.silex-runtime {opacity: 1;}
